.task-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 16px;
    background-color: #21212B;
    font-family: 'Inter';
    margin-top: 10px;
    cursor: pointer;
}

.task-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.task-left{
    display: flex;
    align-items: center;
}

.task-checkbox{
    width: 24px;
    height: 24px;
    border: 3px solid #FC7CA1;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-checkbox.complete{
    background-color: #FC7CA1;
}

.task-checkbox.complete + .task-name{
    text-decoration-line: line-through;
}

.task-checkbox{
    overflow: hidden;
}

.task-checkbox svg{
    width: 12px;
    height: 12px;
    overflow: hidden;
}

.task-checkbox img{
    width: 12px;
    height: 12px;
    overflow: hidden;
}

.task-name{
    font-weight: 450;
    color: rgba(255, 255, 255, 0.893);
    margin-left: 10px;
}

.task-bottom{
    margin-top: 10px;
    margin-left: 37px;
}

.task-deadline{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
}

.task-deadline img{
    width: 16px;
    height: 16px;
    filter: invert(100%) sepia(62%) saturate(0%) hue-rotate(232deg) brightness(116%) contrast(100%);
}

.task-remove{
    width: 32px;
    height: 32px;
    border: 3px solid;
    border-radius: 50%;
}